$fontColor: #0c2335;

$xsBreakpoint: 414px;
$smBreakpoint: 600px;
$mdBreakpoint: 959px;
$lgBreakpoint: 1279px;
$xlBreakpoint: 1919px;

$minTablet: 960px;
$minLaptop: 1280px;

@mixin marginTopBottom {
  margin: 10px 0px;
}

@mixin marginTopBottom_md {
  margin: 5px 0px;
}

@mixin fadeInRightAnimation {
  animation-duration: 2s;
  animation-name: fadeInRight;
  transition: 0.5s;
}

@mixin fadeInBotAnimation {
  animation-duration: 1.3s;
  animation-name: fadeInLeft;
  transition: 0.5s;
}

.bio_tittle {
  color: $fontColor;
  font-size: 220%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  @include fadeInRightAnimation;
}

.bio_tittle_two {
  color: $fontColor;
  font-size: 220%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  @include fadeInRightAnimation;
}

.bio_greet {
  color: $fontColor;
  font-size: 4.1em;
  font-weight: 600;
  @include marginTopBottom;
  @include fadeInRightAnimation;
}

.bio_name {
  color: $fontColor;
  font-size: 4.1em;
  font-weight: 400;
  @include fadeInRightAnimation;
}

.bio_span {
  font-size: 1.2em;
  color: #525252;
  font-weight: 500;
}

.bio_description {
  width: 70%;
  color: $fontColor;
  font-size: 1em;
  font-weight: 400;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  @include marginTopBottom;
  @include fadeInBotAnimation;
}

@media (max-width: 1279px) {
  .bio_container {
    padding-top: 0px;
    justify-content: center;
  }

  .banner_text {
    justify-content: center;
  }

  .bio_tittle {
    font-size: 2em;
  }

  .bio_tittle_two {
    font-size: 2em;
  }
}

@media (max-width: $mdBreakpoint) {
  .bio_container {
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 100px;
  }

  .banner_text {
    justify-content: center;
    padding: 10px;
  }

  .bio_tittle {
    font-size: 1.2em;
  }

  .bio_tittle_two {
    font-size: 1.2em;
  }

  .bio_greet {
    font-size: 1.6em;
  }

  .bio_name {
    font-size: 1.5em;
  }

  .bio_span {
    font-size: 1em;
  }

  .bio_description {
    font-size: 0.8em;
    padding: 0px 10px;
  }
}

@media (min-width: $mdBreakpoint) and (max-width: 1279px) {
  .bio_container {
    padding-bottom: 280px;
  }

  .bio_description {
    font-size: 1em;
    width: 100%;
  }
}

@media (min-width: $minLaptop) and (max-width: $xlBreakpoint) {
  .bio_container {
    padding-top: 40px;
  }

  .bio_tittle {
    font-size: 220%;
  }

  .bio_tittle_two {
    font-size: 220%;
  }
  .bio_greet {
    font-size: 2.5em;
  }

  .bio_name {
    font-size: 2.5em;
  }

  .bio_description {
    font-size: 1em;
    width: 80%;
  }
}

// Key frames animations

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}

@keyframes fadeInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
}
