@import "buttonStyles", "bioStyles", "avatarStyles";

.banner_container {
  height: 850px;
}

@media (max-width: $mdBreakpoint) {
  .banner_container {
    background-size: cover;
    background-position: bottom;
  }
}

.socials {
  margin-bottom: 10px;
  font-size: 2.4em;
}
