@import "./donacionText";

.donacion_container {
  padding-top: 76px;
  height: 100vh;
  background-image: url("../..//public/DSHbackground.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.donacion_grid {
  padding: 140px 50px 50px 50px;
  flex-direction: column;
}

.text_grid {
  margin: 5px 0px;
}

@media (min-width: 810px) {
  .donacion_container {
    padding-top: 76px;
    height: 100vh;
    background-image: url("../..//public/DSHbackground.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }
}

@media (max-width: 960px) {
  .donacion_grid {
    padding-top: 80px;
  }
}

@media (max-width: 414px) {
  .donacion_grid {
    padding: 30px;
  }
}
