@media (max-width: 1366px) {
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-size: 0.8em;
  }

  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px;
  }

  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 10px;
  }

  .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.8em;
  }

  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 0.8em;
  }
}
