@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manuale:wght@400;500;600;700&display=swap");
@import "./header_scss/headerStyles.scss", "./banner_scss/bannerSytles.scss",
  "./about_scss/aboutStyles.scss", "./who_scss/whoStyles.scss",
  "./experience_scss/experienceStyles.scss", "./finance.scss/financeStyles.scss",
  "./proyectos_scss/proyectosStyles.scss", "./contact_scss/contactStyles.scss",
  "./donacion_scss/donacionStyles.scss",
  "./voluntario_scss/voluntarioStyles.scss";

$mdBreakpoint: 959px;
$xsBreakpoint: 375px;
$smBreakpoint: 600px;
$lgBreakpoint: 1280px;
$xlBreakpoint: 1920px;

$minTablet: 960px;
$minLaptop: 1280px;

html,
body {
  background-color: white;
  // background-color: #f6f5f3;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header_banner {
  background-image: url("../public/hands.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

// @media (min-width: $minLaptop) and (max-width: $xlBreakpoint) {
//   .header_banner {
//     background-position-x: 0px;
//     background-size: cover;
//     background-position-y: -100px;
//   }
// }

@keyframes fadeInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }
}
